h1 {
  margin: 0;
  padding: 1.5rem;
  border-style: solid;
  font-family: "Orbitron", sans-serif;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  height: 28rem;
  width: 48rem;
}

a.toggle-unit:hover {
  text-decoration: none;
  color: #212529;
  font-weight: bold;
}

.col,
.row {
  padding: 0;
  margin: 0;
}

.local-button {
  padding: 0.1rem;
}
#local-button {
  display: inline;
  vertical-align: top;
}

.city-search {
  padding: 0.1rem;
  text-align: left;
  font-size: 1.5rem;
}
#city-input {
  font-family: Arial, Helvetica, sans-serif;
}

.toggle-unit {
  color: #212529;
  text-align: right;
  font-size: 1.5rem;
}
.toggle-unit-bar {
  position: relative;
  left: 6rem;
}

.current-city {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  top: 1.8rem;
}
.current-temp {
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 3rem;
}
.current-icon {
  text-align: center;
  font-size: 7.5rem;
  position: relative;
  right: 0.3rem;
}
.current-temp-range {
  position: relative;
  top: 2.3rem;
  left: 1rem;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.weather-alert {
  background-color: rgb(234, 168, 152);
  font-size: 0.5rem;
  margin: 0.2rem 0.2rem 0.6rem;
  padding: 0.2rem;
  border-style: solid;
}
.card {
  margin: 0;
  border: none;
  background: none;
  height: 8rem;
  width: 8rem;
}
.card-body {
  border-radius: 3.5rem;
  padding: 0;
  text-align: center;
  margin: 0.3rem;
  font-size: 0.8rem;
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
}
.card-text {
  position: relative;
  top: 1.5rem;
  font-size: 0.7rem;
}
.day {
  font-size: 1rem;
}
.icon {
  padding: 0rem;
  width: 2.5rem;
}

.page-date {
  padding: 0.2rem;
  font-size: 0.5rem;
}

.signature {
  padding: 0.2rem;
  text-align: left;
  font-size: 0.8rem;
}
.signature-link {
  color: #212529;
  font-weight: bolder;
  text-decoration: underline;
}
